.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(var(--background-transparent));
  // backdrop-filter: blur(20px);

  ul {
    list-style: none;

    li {
      overflow-y: hidden;
      user-select: none;
      font-weight: bold;

      div {
        text-align: center;
      }
    }
  }

  .contact {
    margin-top: 80px;
    display: flex;

    h5 {
      font-weight: normal;

      &:first-of-type {
        margin-right: 40px;
      }
    }
  }
}
