@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: hsl(var(--vinze-foreground));
  background-color: hsl(var(--vinze-background));
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--vinze-default-400));
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--vinze-default-500));
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
