@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.path {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: draw 3s forwards;

  & > path {
    // fill: transparent;
  }
}

.path:nth-child(1) {
  animation-delay: 0s;
}

.path:nth-child(2) {
  animation-delay: 3s;
}

.path:nth-child(3) {
  animation-delay: 6s;
}

.path:nth-child(4) {
  animation-delay: 9s;
}

.path:nth-child(5) {
  animation-delay: 12s;
}
